.jukugo {
  display: inline;
  box-sizing: border-box;
  padding: 0;
  margin: 0 3px;
  height: auto;
  overflow: hidden;
  /* border-bottom: 2px dotted #CCC; */

  line-height: 1rem;
  font-size: 0;
}

.kanji {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  height: auto;
  overflow: hidden;

  line-height: 1rem;
  font-size: 30px;
  font-family: "Microsoft Yahei", "PingHei", "sans-serif";
}

/* <rt> */
.kanjiSound {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  font-size: 12px;
  color: #BBB;
  /* line-height: 0.5rem; NG */
}

/* <ruby> */
.kanjiChar {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-family: "Microsoft Yahei", "PingHei", "sans-serif";
  /* border: 1px solid blue; */
}