.jukugo {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 1px 2px;
  margin-bottom: 6px;
  /* height: auto; */
  overflow: hidden;
  /* border-bottom: 2px dotted #CCC; */

  /* line-height: 1rem; */
  font-size: 0;
  vertical-align: baseline;
  /* border: 1px solid red; */
}

.kanjiSet {
  display: inline-block;
  box-sizing: border-box;
  padding: 1px;
  margin: 0;
  margin-bottom: 0px;
  overflow: hidden;

  /* line-height: 1rem; */
  font-size: 20px;
  font-family: "Microsoft Yahei", "PingHei", "sans-serif";
  vertical-align: baseline;
  /* border: 1px solid blue; */
}

.kanjiSound {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  font-size: 12px;
  color: #BBB;
  /* line-height: 0.5rem; NG */
  text-align: center;
}

.kanjiChar {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-family: "Microsoft Yahei", "PingHei", "sans-serif";
  /* border: 1px solid blue; */
}