div.transbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

div.body_tr {
  width: auto;
  margin: 0;
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
}

div.body_ttl {
  width: auto;
  height: auto;
  margin: 0;
  margin-top: 20px;
  padding: 5px;
  overflow: hidden;
  font-size: 3rem;
}

div.body_subttl {
  width: auto;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  font-size: 1.0rem;
  color: #AAA;
}

.output {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left; */
  /* align-content: space-around; */

  width: auto;
  margin: 0;
  margin-top: 10px;
  border: 1px solid #AAA;
  padding: 10px;
  overflow: hidden;
  text-align: left;
}

.inputfield {
  width: 90%;
  font-size: 20px;
}

.inputbutton {
  padding: 5px 20px;
  font-size: 16px;
  margin-right: 20px;
}

.pycheck {
  margin-left: 20px;
}

/* const colors = ['#AAA', '#666', 'DodgerBlue', 'SeaGreen', 'Tomato']; */
.color1 {
  color: #666;
}

.color2 {
  color: DodgerBlue;
}

.color3 {
  color: SeaGreen;
}

.color4 {
  color: Tomato;
}

.pron {
  font-size: 1rem;
}