div.transbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

div.body_tr {
  width: auto;
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
}

div.body_ttl {
  width: auto;
  height: auto;
  margin: 0;
  margin-top: 20px;
  padding: 5px;
  overflow: hidden;
  font-size: 3rem;
}

div.body_subttl {
  width: auto;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  font-size: 1.0rem;
  color: #AAA;
}

.output {
  width: auto;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #AAA;
  text-align: left;
  line-height: 2rem;
}

.inputfield {
  width: 90%;
  font-size: 20px;
}

.inputbutton {
  padding: 5px 20px;
  font-size: 16px;
  margin-right: 20px;
}

.controlRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textsamplettl {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #aaa;
  pointer-events: none;
}

.pycheck {
  margin-left: 20px;
}

/* const colors = ['#AAA', '#666', 'DodgerBlue', 'SeaGreen', 'Tomato']; */
.color1 {
  color: #666;
}

.color2 {
  color: DodgerBlue;
}

.color3 {
  color: SeaGreen;
}

.color4 {
  color: Tomato;
}

.pron {
  font-size: 1rem;
}