div.transbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

div.body_tr {
  width: auto;
  margin: 0;
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
}

div.output {
  width: auto;
  margin: 0;
  margin-top: 20px;
  border: 1px solid #AAA;
  padding: 10px;
  overflow: hidden;
}

input.inputfield {
  width: 50%;
  font-size: 20px;
}

input.inputbutton {
  padding: 5px;
  font-size: 16px;
}